/* html,
body {
  font-family: 'Play', sans-serif;
  min-height: 100vh;
}

#container {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  justify-content: space-between;
}

#container > #nav {
  background-color: #404040;
  color: #DDDDDD;
  height: 50px;
}

#container > #main {
  flex: 1;
}

#container > #footer {
  background-color: #404040;
  color: #DDDDDD;
  height: 50px;
} */
