html,
body {
  background-color: #21252B;
  color: rgb(157, 165, 167);
  font-family: 'Play', sans-serif;
  margin-bottom: 5rem;
}

a {
  color: white;
  text-decoration: none;

  &:hover {
    color: rgba(255, 70, 70, 1);
  }

  &.social-link {
    color: inherit;
    margin-right: 0.25rem;
    text-decoration: none;

    svg {
      fill: currentColor;
      height: 25px;
      width: 25px;

      path {
        fill: currentColor;
      }

      &.icon--fb:hover {
        color: #1877F2;
      }

      &.icon--linkedin:hover {
        color: #0077B5;
      }

      &.icon--github:hover {
        color: #ffffff;
      }
    }
  }
}

.hidden, #hp {
  display: none;
}

.alert {
  border: 1px solid black;
  border-left-width: 10px;
  padding: 0.5rem 1rem;
  margin-bottom: 1rem;

  &.alert--error {
    background-color: rgba(193, 70, 70, 0.25);
    border-color: rgba(193, 70, 70, 0.75);
    color: rgba(193, 100, 100, 1);
  }

  &.alert--success {
    background-color: rgba(70, 193, 115, 0.25);
    border-color: rgba(70, 193, 115, 0.75);
    color: rgba(70, 193, 115, 1);
  }
}

.section {
  &.section--about {
    .section__header {
      background-color: rgba(193, 70, 70, 0.25); /* rgba(146, 67, 211, 1) */
    }
  }

  &.section--projects {
    .section__header {
      background-color: rgba(70, 193, 115, 0.25);
    }
  }

  &.section--contact {
    .section__header {
      background-color: rgba(70, 113, 193, 0.25);
    }
  }

  .section__header {
    color: #ffffff;
    padding: 0.5rem 1rem;
  }

  .section__body {
    padding: 1rem;

    .exp-section-header {
      border-top: 1px solid rgb(157, 165, 167);
      margin-top: 2rem;
      padding-top: 0.75rem;
    }

    .exp-subsection-header {
      margin-left: 1rem;
    }
  }
}

.contact-form {
  margin-bottom: 1rem;

  input, textarea {
    display: block;
    width: 100%;

    &:focus::placeholder {
      color: rgba(255, 255, 255, 0.5);
      opacity: 1;
    }

    &:not(:first-child) {
      margin-top: -1px;
    }
  }

  button {
    margin-top: -1px;
  }
}

// Container

.container {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}
