@import '~/node_modules/sanitize.css/forms.css';
@import '~/node_modules/sanitize.css/sanitize.css';
@import '~/node_modules/sanitize.css/typography.css';

$breakpoint_width: 767px;

@font-face {
  font-family: 'Rampart One';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('./fonts/RampartOne-Regular.woff2') format('woff2');
}

@font-face {
  font-family: 'Roboto Mono';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url('./fonts/RobotoMono-Light.woff2') format('woff2');
}

@font-face {
  font-family: 'Roboto Mono';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('./fonts/RobotoMono-Regular.woff2') format('woff2');
}

@mixin dark-theme() {
  background-color: rgb(30, 41, 59);
  color: rgb(203, 213, 225);

  a {
    color: rgb(203, 213, 225);
  }

  .list-container {
    border: 1px solid rgb(203, 213, 225);
    box-shadow: 6px 6px rgb(203, 213, 225);

    > .header {
      border-bottom: 1px solid rgb(203, 213, 225);
    }
  }
}

@mixin light-theme() {
  background-color: #FFFFFF;
  color: #000000;

  a {
    color: #000000;
  }

  .list-container {
    border: 1px solid #000000;
    box-shadow: 6px 6px #000000;

    > .header {
      border-bottom: 1px solid #000000;
    }
  }
}

body {
  @include light-theme;
}

@media (prefers-color-scheme: dark) {
  body {
    @include dark-theme;
  }
}

.light {
  @include light-theme;
}

.dark {
  @include dark-theme;
}


/*
 * -----------------------------------------------------------------
 * Page structure, which won't be impacted by preferred color scheme
 */

* {
  text-rendering: optimizeLegibility;
  // I want to include transitions for a bit of pop, but it causes the screen to flash when
  // the saved theme does not match the preferred theme. So until I figure that out, I'm
  // just gonna disable transitions.
  // transition: all 0.35s;
}

html, body {
  min-height: 100%;
  min-height: 100vh;
  font-size: 16px;
  font-family: 'Roboto Mono', monospace;
  font-weight: 400;
}

h1, h2 {
  margin-bottom: 1.5rem;
}

.synopsis {
  margin-bottom: 1.5rem;
}

.page-container {
  width: 60%;
  margin: 0 auto;

  @media screen and (max-width: $breakpoint_width) {
    width: 90%;
  }
}

.title {
  font-family: 'Rampart One', cursive;
  font-size: 4rem;
  margin: 0;

  @media screen and (max-width: $breakpoint_width) {
    font-size: 3rem;
  }
}

a {
  text-decoration: none;

  &:hover {
    color: #FF0000;
  }

  &.with-icon {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 0.5rem;
  }
}

ul {
  list-style-type: square;
  padding-left: 2rem;
  margin-bottom: 0;

  &.blank-list {
    list-style-type: none;
    padding-left: 0;
  }

  ul {
    padding-left: 2rem;
    list-style-type: '+';

    &.blank-list {
      padding-left: 2rem;
      list-style-type: none;

      li {
        a.with-icon {
          gap: 0.25rem;
        }
      }
    }

    &:not(.blank-list) {
      li {
        padding-left: 0.25rem;
      }
    }
  }
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  gap: 1.5rem;
}

.list-container {
  flex: 1;
  padding: 1rem;

  @media screen and (max-width: $breakpoint_width) {
    margin-bottom: 1rem;
    width: 100%;
    flex-basis: 100%;
  }

  > .header {
    display: block;
    padding-bottom: 0.25rem;
  }
}

.theme-toggle {
  position: absolute;
  top: 0;
  right: 1rem;
}
