html,
body {
  background-color: #21252B;
  color: rgb(157, 165, 167);
  font-family: 'Play', sans-serif;
}

.section {
  &.section--about {
    .section__header {
      background-color: rgba(193, 70, 70, 0.25); /* rgba(146, 67, 211, 1) */
      color: #ffffff;
    }
  }

  &.section--projects {
    .section__header {
      background-color: rgba(70, 193, 115, 0.25);
      color: #ffffff;
    }
  }

  &.section--contact {
    .section__header {
      background-color: rgba(70, 113, 193, 0.25);
      color: #ffffff;
    }
  }

  .section__header {
    padding: 0.5rem 1rem;
  }

  .section__body {
    padding: 1rem;
  }
}

.contact-form {
  margin-bottom: 1rem;

  input, textarea {
    display: block;
    width: 100%;

    &:focus::placeholder {
      color: white;
      opacity: 1;
    }

    &:not(:first-child) {
      margin-top: -1px;
    }
  }

  button {
    margin-top: -1px;
  }
}

svg {
  fill: currentColor;
  height: 25px;
  width: 25px;

  path {
    fill: currentColor;
  }
}

/* svg.icon--fb:hover {
  color: #1877F2;
}

svg.icon--linkedin:hover {
  color: #0077B5;
}

svg.icon--github:hover {
  color: #181717;
} */
