@import url('sanitize.css/sanitize.css');
@import url('sanitize.css/forms.css');
@import url('sanitize.css/typography.css');
@import url('@fontsource/inter/index.css');
@import url('@fontsource/rampart-one/index.css');

/*
 * Example Usage:
 *
 * @media (--desktop) {
 *   // styles that will only apply to desktop sizes
 * }
 *
 * @media (--mobile) {
 *   // styles that will only apply to mobile sizes
 * }
 *
 * @NOTE: CSS variables cannot be used in media queries.
 */
@custom-media --mobile (width < 768px);
@custom-media --desktop-sm (width < 1280px);
@custom-media --desktop-md (width < 1920px);
@custom-media --desktop-lg (width >= 1920px);

:root {
  --bg-color: #FFF;
  --border-color: #000;
  --box-shadow-color: #000;
  --link-color: #000;
  --link-hover-color: #F00;
  --text-color: #000;
}

.dark {
  --bg-color: rgb(30 41 59);
  --border-color: rgb(203 213 225);
  --box-shadow-color: rgb(203 213 225);
  --link-color: rgb(203 213 225);
  --text-color: rgb(203 213 225);
}

::selection {
  color: var(--bg-color);
  background-color: var(--text-color);
}

* {
  text-rendering: optimizeLegibility;
}

html, body {
  min-height: 100%;
  min-height: 100vh;

  font-family: Inter, sans-serif;
  font-size: 16px;
  font-weight: 400;
}

body {
  padding-bottom: 2rem;
  color: var(--text-color);
  background-color: var(--bg-color);
}

a {
  color: var(--link-color);
  text-decoration: none;
  transition: color 0.15s ease;

  &:hover {
    color: var(--link-hover-color);
  }

  &.with-icon {
    display: flex;
    gap: 0.5rem;
    align-items: center;
    justify-content: flex-start;
  }
}

h1, h2 {
  margin-bottom: 1.5rem;
}

p {
  margin: 0.5rem 0;
}

ul {
  margin-bottom: 0;
  padding-left: 2rem;
  list-style-type: square;

  &.blank-list {
    padding-left: 0;
    list-style-type: none;
  }

  & ul {
    padding-left: 2rem;
    list-style-type: '+';

    &.blank-list {
      padding-left: 2rem;
      list-style-type: none;

      & li {
        & a.with-icon {
          gap: 0.25rem;
        }
      }
    }

    &:not(.blank-list) {
      & li {
        padding-left: 0.25rem;
      }
    }
  }
}

.synopsis {
  margin-bottom: 1.5rem;
}

.page-container {
  width: 75%;
  margin: 0 auto;

  @media (--mobile) {
    width: 90%;
  }
}

.title {
  margin: 0;
  font-family: 'Rampart One', sans-serif;
  font-size: 4rem;

  @media (--mobile) {
    font-size: 3rem;
  }
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  align-items: flex-start;
  justify-content: space-between;

  @media (--desktop-sm) {
    align-items: stretch;
  }
}

.list-container {
  flex: 1;
  flex-basis: auto;

  width: calc(25% - 1.5rem);
  padding: 1rem;

  border: 1px solid var(--border-color);
  box-shadow: 6px 6px var(--box-shadow-color);

  & > .header {
    display: block;
    padding-bottom: 0.25rem;
    font-variant: small-caps;
    border-bottom: 1px solid var(--border-color);
  }

  @media (--desktop-sm) {
    flex-basis: auto;
    width: calc(50% - 1.5rem);
  }

  @media (--mobile) {
    flex-basis: auto;
    width: 100%;
  }
}

.theme-toggle {
  position: absolute;
  top: 0;
  right: 1rem;
}
